@import "tailwindcss";

@theme {
  --color-page-bg: #0A1029;
  --color-sidebar-bg: #11193D;

  --color-accent: #5ec8ff;
  --color-accent-dark: #0b3d5c;

  --color-text-primary: #f5f7fa;
  --color-text-secondary: #A4B1D3;

  --color-border: #31448f;
}
