@import "tailwindcss";

@theme {
  --color-page-bg: #020617; /* very deep navy */
  --color-sidebar-bg: #0f172a;
  --color-text-primary: #f9fafb;
  --color-text-secondary: #9ca3af;
  --color-accent: #06b6d4; /* cyan */
  --color-hover: #22d3ee;
  --color-border: #1e293b;
}
